table {
  min-width: 70%;
  margin: 3rem auto;
}

.footer {
  max-width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

mat-icon:hover{
  zoom: 1.3;
  cursor: pointer;
}

.small {
  width: 15%;
  text-align: center;
}
