table {
  min-width: 70%;
  margin: 3rem auto;
}

.small {
  width: 15%;
  text-align: center;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin: 5rem;
  color: #c0c0c0;
}

mat-card{
  min-width: 70%;
  margin: 3rem auto;
}