<div class="grid-container">
    <mat-grid-list cols="4" rowHeight="350px">
        <mat-grid-tile *ngFor="let product of products$ | async " [colspan]="'1'" [rowspan]="'1'">
            <mat-card class="dashboard-card" [routerLink]="['/', 'product', product.id]">
                <h2>{{product.name}}</h2>
                <mat-card-content class="dashboard-card-content">
                    <img [src]=product.img alt="Нет изображения для данной категории товаров">
                </mat-card-content>
                <p>{{product.description}}</p>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>