table {
  width: 100%;
  td {
    padding-top: 10px;
  }
  .small {
    width: 12%;
    text-align: center;
    margin: 0;
  }
  img {
    width: 30px;
  }
  p {
    padding-top: 10px;
    text-align: justify;
  }
}
