mat-card {
  width: 100%;
  height: 100%;
  padding: 0px;
}
mat-card.order {
  padding: 1rem;
}
mat-form-field,
button {
  width: 100%;
  height: 100%;
  padding: 0px;
}

button.long {
  font-size: 40px;
}

table {
  width: 100%;
  td {
    padding-top: 10px;
  }
  .small {
    width: 12%;
    text-align: center;
    margin: 0;
  }
  img {
    width: 30px;
  }
  p {
    padding-top: 10px;
    text-align: justify;
  }
}

