$padding-top: 10px;

mat-form-field {
  width: 100%;
}

table {
  min-width: 80%;
  max-width: 90%;
  margin: auto;
  td {
    padding-top: $padding-top;
  }
  .small {
    width: 14%;
    text-align: center;
    margin: 0;
  }
  mat-icon:hover {
    zoom: 1.1;
    cursor: pointer;
  }

  .processing {
    color: #ff0000;
  }
  .confirmed {
    color: #daa520;
  }
  .completed {
    color: #008000;
  }
  .canceled {
    color: #808080;
  }

  p {
    padding-top: $padding-top;
    font-size: 13px;
    text-align: justify;
    line-height: 0.1;
  }
}
