<div class="grid-container" *ngIf="categorys$ !== undefined; else loading">
    <!---->
    <mat-grid-list cols="3" rowHeight="350px">
        <!--  <mat-grid-tile>
            <mat-card class="dashboard-card" [routerLink]="['/', 'category', ':id']">
                <h2>Все товары</h2>
                <mat-card-content class="dashboard-card-content">
                    <img [src]="" alt="Нет изображения для данной категории товаров">
                </mat-card-content>
                <p>Тут все товары</p>
            </mat-card>
        </mat-grid-tile> -->

        <mat-grid-tile *ngFor="let category of categorys$ | async " [colspan]="'1'" [rowspan]="'1'">
            <mat-card class="dashboard-card" [routerLink]="['/', 'category', category.id]">
                <h2>{{category.name}}</h2>
                <mat-card-content class="dashboard-card-content">
                    <img [src]="category.img" alt="Нет изображения для данной категории товаров">
                </mat-card-content>
                <p>{{category.description}}</p>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>