<div class="grid-container" *ngIf="(categories$ | async) !== undefined; else loading">

    <mat-grid-list [cols]="breakpoint.isMobile() ? 1 : 2" rowHeight="350px">
        <mat-grid-tile>
            <mat-card class="dashboard-card" [routerLink]="['/', 'category', 'all']">
                <h2>Все товары</h2>
                <mat-card-content class="dashboard-card-content">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkjXRJzJlXZcea3mVcHFwpCh15End3umTliAjzNw61pQQAAHP3qP_pTRSvfj-CIfYk650&usqp=CAU"
                        alt="Нет изображения для данной категории товаров">
                </mat-card-content>
                <p>Здесь вы найдете все товары</p>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile *ngFor="let category of categories$ | async " [colspan]="'1'" [rowspan]="'1'">
            <mat-card class="dashboard-card" [routerLink]="['/', 'category', category.id]">
                <h2>{{category.name}}</h2>
                <mat-card-content class="dashboard-card-content">
                    <img [src]="category.img" alt="Нет изображения для данной категории товаров">
                </mat-card-content>
                <p>{{category.description}}</p>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<ng-template #loading>
    <!--<mat-spinner></mat-spinner> -->
    <h1 class="placeholder"> Категории товаров не были получены с сервера </h1>
</ng-template>