.container {
  width: 90%;
  height: 70%;
  margin: 3rem auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

p,
h2 {
  text-align: center;
  margin: 5px;
}

img {
  max-width: 90%;
  max-height: 90%;
}

button {
  height: 40px;
  max-width: 100%;
}

input {
  height: 40px;
  width: 70px;
  text-align: center;
  border-radius: 5px;
}
