<div class="container" *ngIf="product$ | async as product; else loading">

    <mat-grid-list cols="6" rowHeight="100px">
        <mat-grid-tile [colspan]="5" [rowspan]="1">
            <h2>{{product.name}}</h2>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <button mat-button [routerLink]="['/', 'category', product.categoryId]">
                <mat-icon>arrow_back_ios</mat-icon> Назад
            </button>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="4" [rowspan]="4">
            <img [src]="product.img" alt="Нет изображения для продукта">
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="2">
            <p>{{product.description}}</p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <h2>{{product.price | currency}}</h2>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <p><button mat-raised-button color="primary" (click) = "addBasket()"> В корзину <mat-icon>shopping_basket</mat-icon></button></p>
        </mat-grid-tile>

    </mat-grid-list>


</div>

<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>